.progressSection {
    &:not(:first-of-type) {
      border-left: rem(3px) solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    }
  }

  .blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
  }
  